body {
    background-color: #c6ff00;
    margin: auto;
    display: block;
    text-align: center;
    font-family: 'Fondamento', cursive;
}
h1 {
    font-size: 4.3rem;
    color: #ffff;
    margin-bottom: 0;
}
p {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
button {
    background-color: #ffa000;
    padding: 0.5rem 0 0.3rem;
    border: 2px solid #ffea00;
    border-radius: 5px;
    font-family: 'Fondamento', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    width: 21%;
    margin-left: 0.3rem;
    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}
